Conditional Basics

Prompt the user for a day of the week, print out whether the day is Monday or not

In [38]:
day = input('what day of the week is it?')
if day.lower == 'monday':
    print(f' monday \n')

what day of the week is it?4

Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [14]:
weekday = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']
weekend = ['saturday', 'sunday']

day = input('what day of the week is it?')
if day.lower() in weekday:
    print(f"  its  {day} , unfortinately its a weekday")
else:
    print(f" IT\'S {day.upper()} , ITS THE WEEKEND!")

what day of the week is it?wednesday
  its  wednesday , unfortinately its a weekday

Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

The number of hours worked in one week

The hourly rate

In [16]:
hours = int(input('how many hours did you work this week?'))
hourly = 35

if hours <= 40:
    print(f'no overtime this week, your pay is {hours * hourly}$')
else:
    print(f'you collected OT, your pay is {hours * (hourly * 1.5)}$')

how many hours did you work this week?25
no overtime this week, your pay is 875$

While

Create an integer variable i with a value of 5. Create a while loop that runs so long as i is less than or equal to 15. Each loop iteration, output the current value of i, then increment i by one.

In [20]:
i = 5
while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [25]:
x = 0
while x <= 100:
    print(x)
    x += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000. Output should equal:

In [30]:
x = 2
while x <= 1000000:
    print(x)
    x = x**2

2
4
16
256
65536

Write a while loop that uses print to create the output shown below.

In [32]:
x = 100
while x > 0:
    print(x)
    x = x-5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

In [37]:
x = int(input('enter a number '))
for i in range(1, 11):
    print(i)
    print(f'  ---{i * x}')

enter a number 5
1
  ---5
2
  ---10
3
  ---15
4
  ---20
5
  ---25
6
  ---30
7
  ---35
8
  ---40
9
  ---45
10
  ---50

Create a for loop that uses print to create the output shown below.

for i in range(1,10):
    print(str(i) * i)


break and continue

Write a program that prompts the user for a positive integer. Next write a loop that prints out the numbers from the number the user entered down to 1.

In [71]:
 x = int(input('enter positive integer'))

for i in range(x,0,-1):
    print(x)
    x -= 1

enter positive integer3
3
2
1

The input function can be used to prompt for input and use that input in your python code. Prompt the user to enter a positive number and write a loop that counts from 0 to that number. (Hints: note that the input function returns a string, so you'll need to convert this to a numeric type.)

In [76]:
x = int(input('please enter a positive number: '))

for i in range(100000):
    print(i)
    if i > x:
        break

please enter a positive number: 15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

Prompt the user for an odd number between 1 and 50. Use a loop and a break statement to continue prompting the user if they enter invalid input. (Hint: use the isdigit method on strings to determine this). Use a loop and the continue statement to output all the odd numbers between 1 and 50,

In [78]:
x = input('please enter odd number between 1-50: ')

for i in range(50):
    print(i)

please enter odd number between 1-50: 23
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49